<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Please send your information to our support team, and then they will help you</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center">
                        <a href="mailto:contact@effogroup.com" class="btn btn-xl">Send An Email</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
